<%
    var buttonFlg,
        checkProcessor,
        i,
        j,
        k,
        processorFlg,
        rowcolor,
        rowcolorClass,
        selected,
        startTaskFlg,
        taskIdForSave,
        strType;
    rowcolor = [' row-color', ''];
    startTaskFlg = false;
    processorFlg = false;

    checkProcessor = function (processorFlg) {
        // タスクの処理者かどうか
        for (j = 0; j < json.processorsInfoList[i].processorPersonInfoList.length && processorFlg === false; j += 1) {
            if (json.processorsInfoList[i].processorPersonInfoList[j].personCd === myInfo.personCd) {
                return true;
            }
        }
        for (j = 0; j < json.processorsInfoList[i].processorAccountInfoList.length && processorFlg === false; j += 1) {
            for (k = 0; k < myInfo.accountInfoList.length; k += 1) {
                if (json.processorsInfoList[i].processorAccountInfoList[j].accountCd === myInfo.accountInfoList[k].accountcd) {
                    return true;
                }
            }
        }
        for (j = 0; j < json.processorsInfoList[i].processorTypeInfoList.length && processorFlg === false; j += 1) {
            for (k = 0; k < myInfo.personTypeInfoList.length; k += 1) {
                if (json.processorsInfoList[i].processorTypeInfoList[j].personTypeCd === myInfo.personTypeInfoList[k].persontypecd) {
                    return true;
                }
            }
        }
        for (j = 0; j < json.processorsInfoList[i].processorPositionInfoList.length && processorFlg === false; j += 1) {
            for (k = 0; k < myInfo.accountInfoList.length; k += 1) {
                if (json.processorsInfoList[i].processorPositionInfoList[j].positionCd === myInfo.accountInfoList[k].positioncd) {
                    return true;
                }
            }
        }
        for (j = 0; j < json.processorsInfoList[i].processorRoleInfoList.length && processorFlg === false; j += 1) {
            for (k = 0; k < myInfo.roleInfoList.length; k += 1) {
                if (json.processorsInfoList[i].processorRoleInfoList[j].roleCd === myInfo.roleInfoList[k].rolecd) {
                    return true;
                }
            }
        }
        return false;
    };

    for (i = 0; i < json.processorsInfoList.length && startTaskFlg === false; i++) {
        // 開始タスクがアクティブかとうか
        if (json.processorsInfoList[i].activeStatus === 1 && json.processorsInfoList[i].taskId === json.applyInfo.startTaskId) {
            // 開始タスクの処理者かどうか
            startTaskFlg = checkProcessor(startTaskFlg);
        }
    }

    for (i = 0; i < json.processorsInfoList.length; i++) {
        if (json.processorsInfoList[i].activeStatus === 1) {
            taskIdForSave = json.processorsInfoList[i].taskId;
            break;
        }
    }

    for (i = 0; i < json.processorsInfoList.length; i++) {
        if (json.processorsInfoList[i].activeStatus === 1) {
            processorFlg = checkProcessor(processorFlg);
        }
    }

%>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>申請詳細画面</title>
        <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="./css/styles.css" rel="stylesheet" media="screen">
        <link href="./jqueryui/jquery-ui.css" rel="stylesheet" media="screen">
        <link href="./jqueryui/jquery-ui.theme.min.css" rel="stylesheet" media="screen">
        <script src="./jquery/jquery-3.3.1.min.js"></script>
        <script src="./bootstrap/js/bootstrap.min.js"></script>
        <script src="./jqueryui/jquery-ui.min.js"></script>
        <script src="./jqueryui/i18n/datepicker-ja.js"></script>
        <script src="./js/scripts.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <header class="head">申請詳細</header>
            <div class="detail-div">
                <label class="hidden" id="loginPersonCd"><%= myInfo.personCd %></label>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group group-div">
                            <label class="lbl-title">申請ID</label>
                            <label id="applyId" class="lbl-txt"><%= json.applyInfo.applyId %></label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group group-div">
                            <label class="lbl-title">諸届名称</label>
                            <label class="lbl-txt"><%= json.applyInfo.applyFormName %></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group group-div">
                            <label class="lbl-title">申請日</label>
<%  if (startTaskFlg) { %>
                            <input id="applyDate" class="input-date" value="<%= json.applyInfo.applyDate %>">
<%  } else { %>
                            <label class="lbl-txt"><%= json.applyInfo.applyDate %></label>
<%  } %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group group-div">
                            <label class="lbl-title">申請者</label>
                            <label class="lbl-txt"><%= json.applyInfo.personName %></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 order-md-2">
                        <div class="form-group group-div div-height">
                            <label class="lbl-title">所属</label>
<%  if (startTaskFlg) { %>
                            <select id="accountCd" class="input-div">
<%      myInfo.accountInfoList.forEach(function (accountInfo) {
            selected = (accountInfo.accountcd === json.applyInfo.accountCd) ? 'selected' : ''; %>
                                <option value="<%= accountInfo.accountcd %>" <%= selected %>><%= accountInfo.accountname %></option>
<%      }); %>
                            </select>
<%  } else { %>
                            <label class="lbl-txt"><%= json.applyInfo.accountName %></label>
<%  } %>
                        </div>
                    </div>
                    <div class="col-md-6 order-md-1">
                        <div class="form-group group-div div-height">
                            <label class="lbl-title">申請名称</label>
<%  if (startTaskFlg) {
        strType = 'text';
    } else {
        strType = 'hidden'; %>
                            <label class="lbl-txt"><%= json.applyInfo.applyTitle %></label>
<%  } %>
                            <input id="applyNm" type="<%= strType %>" class="input-div" value="<%= json.applyInfo.applyTitle %>">
                        </div>
                    </div>
                </div>
            </div>
            <div class="div-margin">
                <!-- 添付 -->
                <div class="row group-div">
                    <div class="col-md-2 fixed-width-80px padding-left-0 padding-right-0 lbl-title">
                        <label>添付</label>
                        <img id="uploadFile" src="images/upload_icon.png">
                        <input id="uploadText" name="fileUpload" type="file" class="hidden"/>
                    </div>
                    <div class="col-md" id="attchment">
<%  for (i = 0; i < json.attachmentInfoList.length; i++) { %>
                        <div class="row<%= rowcolor[i % 2] %>">
                            <div class="col-5 col-md-4 order-md-1 fixed-datetime-width">
                                <label class="comment-line-height div-margin-bottom"><%= json.attachmentInfoList[i].attachDate %></label>
                            </div>
                            <div class="col-5 col-md-3 order-md-2">
                                <label class="comment-line-height div-margin-bottom"><%= json.attachmentInfoList[i].personName %></label>
                            </div>
                            <div class="col-2 col-md-1 order-md-4">
                                <button class="close close-btn" aria-label="Close" type="button">
                                    <span aria-hidden="true" class="comment-line-height div-margin-bottom">×</span>
                                    <input type="hidden" value="<%= json.attachmentInfoList[i].fileId %>"/>
                                    <input type="hidden" value="<%= i %>"/>
                                </button>
                            </div>
                            <div class="col-12 col-md order-md-3">
    <%  var index,
            strFilePath;
        index = json.attachmentInfoList[i].filePath.indexOf('uploads\\');
        strFilePath = json.attachmentInfoList[i].filePath.slice(index);
    %>
                                <a href="<%= '..\\' + strFilePath %>" download="<%= json.attachmentInfoList[i].fileName %>" class="comment-line-height"><%= json.attachmentInfoList[i].fileName %></a>
                            </div>
                        </div>
<%  } %>
                    </div>
                </div>

                <!-- コメント入力欄 -->
<%  if (true) { %>
                <div class="row group-div top-margin-15">
                    <div class="col-md-2 fixed-width-80px top-margin-10 padding-left-0">
                        <label class="lbl-title">コメント</label>
                    </div>
                    <div class="col-md">
                        <textarea rows="4" class="txtarea"></textarea>
                    </div>
                </div>
<%  } %>

                <!-- ボタン -->
                <div class="row form-inline">
<%  if (processorFlg) { %>
                    <div class="form-group col-md-3 order-md-2 edit-btnDiv">
                        <div class="col-md-4 div-css">
                            <button id="saveApplyBtn" type="button" class="btn btn-primary btn-block group-div z-btn btn-min-width">保存</button>
                        </div>
    <%  if (startTaskFlg) { %>
                        <div class="col-md-4 div-css">
                            <button type="button" class="btn btn-primary btn-block group-div z-btn btn-min-width do-apply">申請</button>
                        </div>
    <%  } else { %>
                        <div class="col-md-4 div-css">
                        </div>
    <%  } %>
                        <div class="col-md-4 div-css">
                            <button type="button" class="btn btn-primary btn-block group-div z-btn btn-min-width do-close">閉じる</button>
                        </div>
                    </div>
                    <div class="form-group col-md-2 order-md-1 div-css">
                        <button id="deleteApplyBtn" type="button" class="btn btn-primary btn-block group-div z-btn col-md-6 btn-min-width">削除</button>
                    </div>
<%  } else if (processorFlg === false) { %>
                    <div class="form-group col-md-2 edit-btnDiv-2 edit-btnDiv-2">
                        <div class="col-md-6 div-css">
                            <button id="cancelApplyBtn" type="button" class="btn btn-primary btn-block group-div z-btn btn-min-width">取下</button>
                        </div>
                        <div class="col-md-6 div-css">
                            <button type="button" class="btn btn-primary btn-block group-div z-btn btn-min-width">削除</button>
                        </div>
                    </div>
                    <div class="form-group col-md-2 offset-md-8 div-css edit-btnDiv-3">
                        <button type="button" class="btn btn-primary btn-block group-div z-btn btn-min-width col-md-6 offset-md-6 do-close">閉じる</button>
                    </div>
<%  } else if (json.applyInfo.startTaskId === '2') { %>
                    <div class="form-group col-md-2 edit-btnDiv-2 top-margin-10">
                        <button id="withdrawBtn" type="button" class="btn btn-primary btn-block group-div z-btn btn-min-width col-md-6">却下</button>
                    </div>
                    <div class="form-group col-md-2 offset-md-8 edit-btnDiv-3">
                        <div class="col-md-6 div-css">
                            <button id="saveBtn"  type="button" class="btn btn-primary btn-block group-div z-btn btn-min-width">保存</button>
                        </div>
                        <div class="col-md-6 div-css">
                            <button type="button" class="btn btn-primary btn-block group-div z-btn btn-min-width">閉じる</button>
                        </div>
                    </div>
<%  } %>
                </div>

                <!-- コメント履歴 -->
                <div class="row">
                    <div class="panel-group col-md-12 div-css" id="accordionOne">
                        <div class="panel panel-default group-div">
                            <div class="panel-heading panel-heading-color">
                                <div data-toggle="collapse" data-parent="#accordionOne" data-target="#collapseOne" class="panel-heading-title">コメント履歴<span class="span-up-arrow"></span></div>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse show">
<%  if (true) { %>
                                <div class="col-md">
<%      for (i = 0; i < json.commentInfoList.length; i++) { %>
                                    <div class="row<%= rowcolor[i % 2] %>">
                                        <div class="col-12 col-md-3 order-md-1">
                                            <div class="row">
                                                <div class="col-6 col-md-12 order-md-1 lbl-min-width">
                                                    <label><%= json.commentInfoList[i].commentDate %></label>
                                                </div>
                                                <div class="col-6  col-md-0 order-md-1 lbl-min-width">
                                                    <label><%= json.commentInfoList[i].personName %></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-0 col-md-9 order-md-1">
                                            <label><%= json.commentInfoList[i].comment %></label>
                                        </div>
                                    </div>
<%      } %>
                                </div>
<%  } %>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 処理者 -->
                <div class="row">
                    <div class="panel-group col-md-12 div-css" id="accordionTwo">
                        <div class="panel panel-default group-div">
                            <div class="panel-heading panel-heading-color">
                                <div data-toggle="collapse" data-parent="#accordionTwo" data-target="#collapseTwo" class="panel-heading-title">処理者<span class="span-up-arrow"></span></div>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse show">
                                <div class="col-md">
<%  for (i = 0; i < json.processorsInfoList.length; i++) {
        var activeTask;

        if (json.processorsInfoList[i].activeStatus === 1) {
            rowcolorClass = ' row-color-active';
            if (processorFlg === true) {
                buttonFlg = true;
                activeTask = json.processorsInfoList[i].taskId;
            }

        } else {
            rowcolorClass = rowcolor[i % 2];
            buttonFlg = false;
        } %>
                                    <div class="row<%= rowcolorClass %>">
                                        <div class="col-6 col-md-3 order-md-1">
                                            <label><%= json.processorsInfoList[i].processName %></label>
                                        </div>
                                        <div class="col-6 col-md-3 order-md-3">
<%  if (buttonFlg === true && processorFlg === true) { %>
                                            <button type="button" class="btn btn-primary btn-block z-btn actionButton"><%= json.processorsInfoList[i].actionName %></button>
                                            <label id="activeTask" class="hidden"><%= activeTask %></label>
<%  } else { %>
                                            <label><%= json.processorsInfoList[i].actionName %></label>
<%  } %>
                                        </div>
                                        <div class="col-12 col-md-6 order-md-2">
<%      for (j = 0; j < json.processorsInfoList[i].processorPersonInfoList.length; j += 1) { %>
                                            <label><%= json.processorsInfoList[i].processorPersonInfoList[j].personName %>（<%= json.processorsInfoList[i].processorPersonInfoList[j].accountName %>）</label><br>
<%      }%>
                                        </div>
                                    </div>
<%  } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 参照者 -->
                <div class="row">
                    <div class="panel-group col-md-12 div-css" id="accordionThree">
                        <div class="panel panel-default group-div">
                            <div class="panel-heading panel-heading-color">
                                <div data-toggle="collapse" data-parent="#accordionThree" data-target="#collapseThree">参照者<span class="span-up-arrow"></span></div>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse show">
                                <div class="col-md">
<%  for (i = 0; i < json.referencesInfoList.length; i++) { %>
                                    <div class="row<%= rowcolor[i % 2] %>">
                                        <div class="col-6 col-md-3 order-md-1">
                                            <label><%= json.referencesInfoList[i].processName %></label>
                                        </div>
<%      if (json.referencesInfoList[i].referencePersonInfoList.length > 0) {
            for (j = 0; j < json.referencesInfoList[i].referencePersonInfoList.length; j++) {
                if (j === 0) {
%>
                                        <div class="col-11 col-md-5 order-md-2">
                                            <label><%= json.referencesInfoList[i].referencePersonInfoList[j].personName %>（<%= json.referencesInfoList[i].referencePersonInfoList[j].accountName %>）</label>
                                        </div>
<%              } else { %>
                                        <div class="col-5 col-md-3 order-md-5 offset-md-3">
                                            <label><%= json.referencesInfoList[i].referencePersonInfoList[j].personName %>（<%= json.referencesInfoList[i].referencePersonInfoList[j].accountName %>）</label>
                                        </div>
<%              }
            }
        } %>
                                    </div>
<%  } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- フロー図 -->
                <div class="row">
                    <div class="panel-group col-md-12 div-css" id="accordionFour">
                        <div class="panel panel-default group-div">
                            <div class="panel-heading panel-heading-color">
                                <div data-toggle="collapse" data-parent="#accordionFour" data-target="#collapseFour">フロー図<span class="span-up-arrow span-down-arrow"></span></div>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="col-md-12">未実装</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 操作履歴 -->
                <div class="row">
                    <div class="panel-group col-md-12 div-css" id="accordionFive">
                        <div class="panel panel-default group-div">
                            <div class="panel-heading panel-heading-color">
                                <div data-toggle="collapse" data-parent="#accordionFive" data-target="#collapseFive">操作履歴<span class="span-up-arrow"></span></div>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse show">
                                <div class="col-md">
<%  for (i = 0; i < json.actionHistoryInfoList.length; i++) { %>
                                    <div class="row<%= rowcolor[i % 2] %>">
                                        <div class="col-6 col-md-3 order-md-1">
                                            <label><%= json.actionHistoryInfoList[i].actionDate %></label>
                                        </div>
                                        <div class="col-6 col-md order-md-3">
                                            <label><%= json.actionHistoryInfoList[i].action %></label>
                                        </div>
                                        <div class="col-11 col-md-5 order-md-5">
                                            <label><%= json.actionHistoryInfoList[i].actionPersonInfo.personName %></label>
                                        </div>
                                    </div>
<%  } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input id="personCd" type="hidden" name="personCd" value="<%= myInfo.personCd %>">
                <input id="personName" type="hidden" name="personName" value="<%= myInfo.personName %>">
                <input type="hidden" id="temp" value="<%= JSON.stringify(json.attachmentInfoList) %>">
                <input id="taskIdForSave" type="hidden" name="taskIdForSave" value="<%= taskIdForSave %>">
            </div>
        </div>
        <!-- ダイアログ -->
        <div id="close-dialog">
            <p>入力内容は保存されていません。</p><br>
            行った変更が保存されない可能性があります。<br>
        </div>
        <div id="action-dialog">
            <p>アクションが完了しました。</p><br>
            申請詳細画面を閉じます。<br>
        </div>
        <div id="save-dialog">
            <p>保存が完了しました。</p><br>
            申請詳細画面を再読み込みします。<br>
        </div>
        <div id="unsaved-dialog">
            <p>変更が保存されていません。</p><br>
            アクションを行う前に変更を保存します。<br>
        </div>
    </body>
</html>
