﻿<style>
.bcwf.portal-scrollable {
    max-height: 200px;
    overflow: auto;
}
</style>
<div>
    <a id="new-apply" href="">新規作成</a>
</div>
<div class="bcwf portal-scrollable"><table id="bcwf-apply-list" class="co-table-list">
  <tbody>
  </tbody>
</table></div>
<script>
var serverURL,
    userId;
serverURL = 'http://localhost:3000';
userId = 'fengshulx';

window.addEventListener('message', function (event) {
    if (event.origin == serverURL) {
            window.location.reload();
    }
});

window.addEventListener('load', function () {
    var w,
        ISO8601toYMD;
    ISO8601toYMD = function (ISO8601) {
        var date;
        date = new Date(ISO8601);
        return date.getFullYear() + '/' + ('0' + (date.getMonth() + 1)).slice(-2) + '/' + ('0' + date.getDate()).slice(-2) + ' ' + ('0' + date.getHours()).slice(-2) + ':' + ('0' + date.getMinutes()).slice(-2);
    };

    $.post(serverURL + '/api/getactiveapplylist', {userId: userId,}, function (data) {
        var i;
        for (i = 0; i < data.rowCount; i += 1) {
            $('#bcwf-apply-list').append('<tr><td>' + ISO8601toYMD(data.rows[i].applydatetime) + '</td><td><a href="' + data.rows[i].applyid + '" class="apply-list">' + data.rows[i].applytitle + '</a></td><td>' + data.rows[i].processname + '</td></tr>');
        }
        $('.apply-list, #new-apply').on('click',function (event) {
            var now,
                $form;
            event.preventDefault();
            event.stopPropagation();
            now = new Date();
            if (w && w.closed === false) {
                w.close();
            }
            w = window.open('', '_bcwf');
            $form = $('<form />', {
                action: serverURL + '/applydetail',
                target: '_bcwf',
                method: 'post',
                style: 'display: none;'
            });
            $form.append($('<input />', {
                type: 'hidden',
                name: 'accessToken',
                value: '1'
            }));
            $form.append($('<input />', {
                type: 'hidden',
                name: 'applyId',
                value: $(this).attr('href')
            }));
                $form.append($('<input />', {
                type: 'hidden',
                name: 'userId',
                value: 'fengshulx'
            }));
            $form.append($('<input />', {
                type: 'hidden',
                name: 'baseDate',
                value: now.getFullYear() + '/' + ('0' + (now.getMonth() + 1)).slice(-2) + '/' + ('0' + now.getDate()).slice(-2)
            }));
            // 以下は新規作成用
            $form.append($('<input />', {
                type: 'hidden',
                name: 'applyPersonCd',
                value: ''
            }));
            $form.append($('<input />', {
                type: 'hidden',
                name: 'applyFormCd',
                value: 'Doc0003'
            }));
            $form.append($('<input />', {
                type: 'hidden',
                name: 'applyTitle',
                value: '諸届名－新規作成'
            }));
            $form.append($('<input />', {
                type: 'hidden',
                name: 'accountCd',
                value: '1'//画面上部のプルダウンで選択されている部署
            }));
            $('body').append($form);
            $form.submit();
            $form.remove();
            return false;
        });
    });
})
</script>
