<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登録画面</title>
    <script src="/jquery/jquery-3.3.1.min.js"></script>
    <script src="/js/login.js"></script>
    <link href="/css/login.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="divBody">
        <form id = 'form'>
            <div class="divTop">
                <div class="font37">Information</div>
                <div class="height"></div>
                <div class="font14">・19/09/03 CS</div>
                <div class="font14">&nbsp&nbspテストメッセージ</div>
            </div>
            <div class="marginTop20">
                <div class="marginLeft">
                    <div class="divDomName">ログインID</div>
                    <div class="divInput">
                        <input id="userId" type="text" name="userId" class="input"/></br>
                    </div>
                    <div class="both marginTop5"></div>
                    <div class="divDomName">パスワード</div>
                    <div class="divInput">
                        <input id="password" type="password" name="password" class="input"/></br>
                    </div>
                    <div class="both"></div>
                    <div class="height20"></div>
                </div>
            </div>
            <div class="divBtn">
                <input id="login" type="button" name="login" value="ログイン" class="inputBtn"/>
            </div>
            <div class="marginTop20">
                <div class="divInf marginLeft7">Copyright(C)2019 Mugen-Corp co.,Ltd.</div>
                <div class="divInf marginLeft12">All Rights Reserved.</div>
            </div>
        </form>
    </div>
</body>
</html>
