<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>トップ画面</title>
    <script src="/jquery/jquery-3.3.1.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/top.js"></script>
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="./css/styles.css" rel="stylesheet" media="screen">
    <link href="./jqueryui/jquery-ui.css" rel="stylesheet" media="screen">
    <link href="./jqueryui/jquery-ui.theme.min.css" rel="stylesheet" media="screen">
    <script src="./jqueryui/jquery-ui.min.js"></script>
    <script src="./jqueryui/i18n/datepicker-ja.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div id="test1" onclick="gadgetHtml('2');">test1</div>
        <div id="test2" onclick="gadgetHtml('1');">test2</div>
        <div id="test3" onclick="gadgetHtml('3');">test3</div>
        <div id="test4" onclick="gadgetHtml('4');">test4</div>
        <div class="row">
            <%  for (i = 0; i < htmlcontent.length; i++) { %>
                <%-htmlcontent[i]%>
            <%  } %>
        </div>
    </div>
</body>
</html>
