<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トップ画面</title>
</head>
<script src="../public/jquery/jquery-3.3.1.min.js"></script>
<body>
    <div style="width: 100%;">
        <div style="margin-left: 2%; margin-top: 2%; margin-right: 2%; background: #00ace6; width: 96%; height: 120px;">
            <img src="/images/title.png" style="float: left; margin-left: 20px; margin-top: 20px; width: 10%;">
            <div style="margin-left: 12%; height: 80%;">
                <div style="color: white; float: left; margin-top: 3%; width: 4%;">無限</div>
                <div style="margin-left: 1%; float: left; margin-top: 3%; color: white;"><%= account%></div>
                <div style="margin-left: 1%; width: 7%; margin-top: 3%; float: left; color: white;"><%= username%></div>
                <div style="margin-top: 5%; float: left; text-decoration:underline; color: white; margin-left: 50%;">インフォメーション</div>
                <div style="margin-top: 5%; float: left; text-decoration:underline; color: white; margin-left: 1%;">ログアウト</div>
            </div>
        </div>
        <div style="margin-left: 5%; margin-top: 2%; width: 43%; height: 400px; border: 1px solid black; float: left;">
            <div style="background: orange; padding: 10px;">
                <div>新規作成</div>
            </div>
            <div style="margin-left: 22px; margin-bottom: 5px; text-decoration:underline;" id="processOne">代理店SP</div>
            <div style="margin-left: 22px; margin-bottom: 5px; text-decoration:underline;" id="processTwo">ディーラーSP</div>
            <div style="margin-left: 22px; margin-bottom: 5px; text-decoration:underline;" id="processThree">SCS SP</div>
            <div style="margin-left: 22px; margin-bottom: 5px; text-decoration:underline;" id="processFour">SCS Request</div>
            <!-- <script type="text/javascript">
                $(document).ready(function () {
                    'use strict';
                    var w;
                    $('#processOne, #processTwo, #processThree, #processFour').on('click', function (event) {
                        var id,
                            now,
                            $form,
                            processNum;
                        id = $(this).prop('id');
                        if (id === 'processOne') {
                            processNum = 1;
                        } else if (id === 'processTwo') {
                            processNum = 2;
                        } else if (id === 'processThree') {
                            processNum = 3;
                        } else if (id === 'processFour') {
                            processNum = 4;
                        }
                        event.preventDefault();
                        event.stopPropagation();
                        now = new Date();
                        if (w && w.closed === false) {
                            w.close();
                        }
                        w = window.open('', '_bcwf');
                        $form = $('<form />', {
                            action: serverURL + '/applydetail',
                            target: '_bcwf',
                            method: 'post',
                            style: 'display: none;'
                        });
                        $form.append($('<input />', {
                            type: 'hidden',
                            name: 'accessToken',
                            value: '1'
                        }));
                        $form.append($('<input />', {
                            type: 'hidden',
                            name: 'applyId',
                            value: $(this).attr('href')
                        }));
                            $form.append($('<input />', {
                            type: 'hidden',
                            name: 'userId',
                            value: 'fengshulx'
                        }));
                        $form.append($('<input />', {
                            type: 'hidden',
                            name: 'baseDate',
                            value: now.getFullYear() + '/' + ('0' + (now.getMonth() + 1)).slice(-2) + '/' + ('0' + now.getDate()).slice(-2)
                        }));
                        // 以下は新規作成用
                        $form.append($('<input />', {
                            type: 'hidden',
                            name: 'applyPersonCd',
                            value: ''
                        }));
                        $form.append($('<input />', {
                            type: 'hidden',
                            name: 'applyFormCd',
                            value: processNum
                        }));
                        $form.append($('<input />', {
                            type: 'hidden',
                            name: 'applyTitle',
                            value: '諸届名－新規作成'
                        }));
                        $form.append($('<input />', {
                            type: 'hidden',
                            name: 'accountCd',
                            value: '1'//画面上部のプルダウンで選択されている部署
                        }));
                        $('body').append($form);
                        $form.submit();
                        $form.remove();
                        return false;
                    });
                });
            </script> -->
        </div>
        <div style="margin-left: 52%; margin-top: 2%; width: 43%; height: 400px; border: 1px solid black;">
            <div style="background: orange; padding: 10px;">
                <div>ToDo</div>
            </div>
            <div style="height: 30px;">
                <div style="margin-left: 30px; margin-bottom: 5px; float: left;">申請中　</div>
                <div style="float: left; text-decoration:underline;" id = "activeApplyCount">5</div>
                <div style="">件</div>
                <div style="clear: both;"></div>
            </div>
            <div style="height: 30px;">
                <div style="margin-left: 30px; margin-bottom: 5px;float: left;">承認　　</div>
                <div style="float: left; text-decoration:underline;" id = "approveCount">10</div>
                <div>件</div>
            </div>
            <div style="height: 30px;">
                <div style="margin-left: 30px; margin-bottom: 5px;float: left;">閲覧　　</div>
                <div style="float: left; text-decoration:underline;" id = "browseCount">20</div>
                <div>件</div>
            </div>
<!--             <script type="text/javascript">
                $(document).ready(function () {
                    'use strict';
                    var serverURL = 'http://localhost:3000';
                    $.post(serverURL + '/api/getApplyCount', function (data) {
                        $('#activeApplyCount').html(data.activeApplyCount.count);
                        $('#approveCount').html(data.approveCount.count);
                        $('#browseCount').html(data.browseCount.count);
                    });
                });
            </script> -->
        </div>
    </div>
</body>
</html>
