.both {
    clear: both;
}

.divBody {
    margin-left: 40%;
    margin-top: 10%;
    height: 100%;
}

.divBtn {
    margin-left: 10%;
    margin-top: 5px;
    width: 13%
}

.divDomName {
    background: #668cff;
    width: 8%;
    height: 28px;
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 28px;
    float: left;
}

.divInf {
    font-size: 9px;
    width: 30%;
}

.divInput {
    margin-left: 15px;
    float: left;
    width: 15%;
}

.divTop {
    width: 30%;
    height: 150px;
    border: 1px solid black;
    border-radius:15px;padding: 5px;
}

.font14 {
    font-size: 14px;
}

.font37 {
    font-size: 37px;
}

.height10 {
    height: 10px;
}

.height20 {
    height: 20px;
}

.input {
    height: 24px;
    width: 100%;
    background: #66ffff
}

.inputBtn {
    width: 100%;
    height: 28px;
    text-align: center;
}

.marginLeft {
    margin-left: 2.5%;
}

.marginLeft7 {
    margin-left: 7%;
}

.marginLeft12 {
    margin-left: 12%;
}

.marginTop5 {
    margin-top: 5px;
}

.marginTop20 {
    margin-top: 20px;
}
