/** Home Page **/
body {
    background-color: #fff;
    padding-top: 0 !important;
    padding-bottom: 40px;
}

.btn-min-width {
    min-width: 75px;
}

.close-btn {
    color: red;
}

#close-dialog+div .cancel-btn{
    line-height: 1.1em;
    width: 130px;
}

#close-dialog+div .ok-btn{
    line-height: 1.1em;
    width: 130px;
}

.comment {
    justify-content: left !important;
    width: 35px !important;
}

.comment-div {
    display: flex;
    flex-flow: row wrap;
}

.comment-line-height {
    line-height: 40px !important;
}

.detail-div {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

.div-css {
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
}

.div-height {
    height: 42px;
}

.div-margin {
    margin-left: 35px;
    margin-right: 35px;
}

.div-margin-bottom {
    margin-bottom: 0;
}

.div-margin-left {
    margin-left: 0;
    padding-left: 0;
}

.div-margin-top {
    margin-top: 0;
}

.div-min-height {
    min-height: 42px;
}

.fixed-datetime-width {
    max-width: 10em;
    min-width: 10em;
}

.fixed-width-80px {
    max-width: 80px;
    min-width: 80px;
}

.edit-btnDiv {
    margin-left: auto;
    margin-right: 0;
    min-width: 225px;
    padding-left: 0;
    padding-right: 0;
}

.edit-btnDiv-2 {
    margin-left: 0;
    margin-right: 0;
    min-width: 150px;
    padding-left: 0;
    padding-right: 0;
}

.edit-btnDiv-3 {
    margin-left: auto;
    margin-right: 0;
    min-width: 150px;
    padding-left: 0;
    padding-right: 0;
}

.form-inline .form-group {
    margin-bottom: 10px;
}

.group-div {
    background-color: #CFE2F3;
    border: 1px solid #595959;
    padding-top: 0;
}

.head {
    background-color: #D9EAE3;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}

.hidden {
    display: none;
}

.input-div {
    height: 34px;
    line-height: 34px;
    margin-bottom: 3px;
    margin-top: 3px;
    width: calc(100% - 100px);
}

.input-date {
    height: 34px;
    line-height: 34px;
    margin-bottom: 3px;
    margin-top: 3px;
    max-width: 110px;
    min-width: 110px;
}

.input-date+img {
    margin-top: -5px;
    margin-left: 3px;
}

.lbl-min-width {
    min-width: 170px;
}

.lbl-title {
    margin-bottom: 0;
    margin-left: 10px;
    width: 80px;
}

.lbl-txt {
    margin-top: 0.5rem;
    width:  calc(100% - 100px);
}

.padding-left-0 {
    padding-left: 0;
}

.padding-right-0 {
    padding-right: 0;
}

.panel-heading-color {
    background-color: lightskyblue;
    border-color: #000000;
    margin-left: 1px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top: 5px;
}

.row-color {
    background-color: #c5d5ff;
    margin-bottom: 1px;
    margin-left: -14px;
}

.row-color-active {
    background-color: lightpink;
    margin-left: -14px;
}

.span-up-arrow:after {
    border-bottom: 0;
    border-left: 1px solid #000;
    border-right: 0;
    border-top: 1px solid #000;
    content: "";
    height: 10px;
    margin-top: 8px;
    position: absolute;
    right: 10px;
    transform: rotate(45deg);
    width: 10px;
}

.span-down-arrow:after {
    border-bottom: 1px solid #000;
    border-left: 0;
    border-right: 1px solid #000;
    border-top: 0;
    content: "";
    height: 10px;
    margin-top: 4px;
    position: absolute;
    right: 10px;
    transform: rotate(45deg);
    width: 10px;
}

.top-margin-10 {
    margin-top: 10px;
}

.top-margin-15 {
    margin-top: 15px;
}

.txtarea {
    margin-bottom: 10px;
    margin-top: 15px;
    width: 100%;
}

.upload-icon {
    margin-top: -10px;
}

.z-btn {
    background-color: #FCE5CD;
    color: black;
    padding-top: 0.5rem;
}
